@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}













.icon-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.icon-text-container .MuiIconButton-root {
  margin-right: 10px;
}

.icon-text-container .MuiTypography-root {
  display: inline-block;
  word-wrap: break-word;
}

@media (max-width: 600px) {
  .icon-text-container {
    flex-direction: column;
  }

  .icon-text-container .MuiIconButton-root {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
